#input
{
    display:flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 10px;
  
}
#children{
    width: 250px;
    background-color: aquamarine;
    padding:20px;
    border-radius: 10px;
    box-shadow: 10px 5px 10px 5px;  
}
.no spinner{
    -moz-appearance: textfield;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}


.inp{
    border-radius: 10px;
    padding: 5px;

}
#main{
    display: flex;
    justify-content: center;
    margin-top: 15%;   
}
body{
    background-color: darkslategray;  
}
#heading{
text-align: center;
margin-bottom: 10px;
}
p{
    margin: 0;
}

   
